<%- include('header'); -%>
    
<div class="box heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <form class="item" id="searchForm" action="/" method="post">
        <input type="text" id="searchInput" placeholder="Search GIFs" autocomplete="off">
        <button type="submit" id="searchButton">&#x1F50E;</button>
    </form>
</div>

<div id="card-container" class="box">
    <ul id="myList" class="">
        <% for (const gif of listOfGifs) { %>
            <li class="object">
                <div class="box heading"><h1><%= gif.title %></h1></div>
                <img src="<%= gif.url %>" alt="GIF" >
            </li>
        <% } %>
    </ul>
</div>
<script>
    // Search GIFs on form submit
document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const keyword = document.getElementById('searchInput').value;
    searchGIFs(keyword);
});
</script>
<script src="js/request.js"></script>
<%- include("footer") -%>
